$gray: gray;
$red: red;
$width_block: 200px;

.carItem {
    background-color: $gray;
    color: $red;
    width: $width_block;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.carItem__picture {
    width: $width_block;
}

.title {
    text-align: center;
}